{% extends "content/layout.html" %}
{% block main %}
<div class="revision-all page-main container">
    <div class="row">
        <div class="span10 offset1">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>路径</th>
                <th>修订数</th>
                <th>创建</th>
            </tr>
        </thread>
        <tbody>
            {% for content in contents %}
            <tr>

                <td><a href="{% if not content.slug == "/" %}{% url content_view user.username content.slug %}{% else %}{% url content_view user.username '' %}{% endif %}">{{content.slug}}</a></td>
                <td>{{content.revisions}}</td>
                <td>{{content.create_at}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
</div>
{% endblock %}