<!DOCTYPE html>
<html>
    <head>
        <title>Kanes</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/public/css/bootstrap.css" rel="stylesheet" media="screen">
        <link href="/public/css/main.css" rel="stylesheet" media="screen">
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar">
                        </span>
                        <span class="icon-bar">
                        </span>
                        <span class="icon-bar">
                        </span>
                    </button>
                    <a class="brand" style="float: right" href="/">Kanes</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class=""><a href=""></a></li>
                            <li class=""><a href="">首页</a></li>
                        </ul>
                    </div>
                    <div class="nav-collapse collapse pull-right">
                        <ul class="nav">
                            <li class=""><a href="{% url content_all %}">所有内容</a></li>
                            <li class=""><a href="{% url content_write %}">写</a></li>
                            {% if request.user.is_authenticated %}
                            <li class=""><a href="{% url django.contrib.auth.views.logout %}">退出</a></li>
                            {% else %}
                            <li class=""><a href="{% url registration_register %}">注册</a></li>
                            <li class=""><a href="{% url django.contrib.auth.views.login %}">登陆</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        {% block main %}{% endblock %}
        {% block content %}{% endblock %}
        <!-- Footer
        ================================================== -->
        <footer class="footer">
          <div class="container">
            <p>Designed and built with all the love in the world by <a href="http://twitter.com/mdo" target="_blank">@mdo</a> and <a href="http://twitter.com/fat" target="_blank">@fat</a>.</p>
            <p>Code licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License v2.0</a>, documentation under <a href="http://creativecommons.org/licenses/by/3.0/" target="_blank">CC BY 3.0</a>.</p>
            <p><a href="http://glyphicons.com" target="_blank">Glyphicons Free</a> licensed under <a href="http://creativecommons.org/licenses/by/3.0/" target="_blank">CC BY 3.0</a>.</p>
            <ul class="footer-links">
            </ul>
          </div>
        </footer>
        <script src="/public/js/jquery.js"></script>
        <script src="/public/js/bootstrap.js"></script>
        <!-- -->
    </body>
</html>