{% extends "content/layout.html" %}
{% block main %}
<div class="container-fluid content">
    <div class="row-fluid">
        <div class="span8 offset2 padding20">
            <!--
            <div class="alert">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                当前缺少索引文件，建立<strong>index.md</strong>？
            </div>
            -->

            <ul class="breadcrumb">
                <li><a href="#">{{ user.username }}</a> <span class="divider">/</span></li>
                <li>{{ path }}</li>
            </ul>

            <ul class="nav nav-tabs">
                <li class="active"><a href="">内容</a></li>
                <li><a href="">赞</a></li>
                <li><a href="">分支</a></li>
                <li class="dropdown open pull-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">操作<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url content_write path %}">编辑</a></li>
                        <li><a href="#">赞</a></li>
                        <li><a href="#">分支</a></li>
                        <li class="divider"></li>
                        <li><a href="#">删除</a></li>
                    </ul>
                </li>
            </ul>
            <div class="row-fluid">
                <div class="pull-right">
                    <div class="btn-group">
                        <button class="btn">赞</button>
                        <button class="btn">分支</button>
                    </div>
                </div>
            </div>
            <article class="">
                {{ content.body }}
            </article>
        </div>
    </div>
</div>
{% endblock %}