{% extends "layout.html" %}
{% blcok main %}
<div class="container-fluid content">
            <div class="row-fluid">
                <div class="span8 offset2 padding20">
                    <div class="alert">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        当前缺少索引文件，建立<strong>index.md</strong>？
                    </div>
 
                    <ul class="breadcrumb">
                        <li><a href="#">CJ</a> <span class="divider">/</span></li>
                        <li>coc.md</li>
                    </ul>

                    <ul class="nav nav-tabs">
                        <li class="active"><a href="">内容</a></li>
                        <li><a href="">赞</a></li>
                        <li><a href="">分支</a></li>
                        <li class="dropdown open pull-right">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">操作<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">编辑</a></li>
                                <li><a href="#">赞</a></li>
                                <li><a href="#">分支</a></li>
                                <li class="divider"></li>
                                <li><a href="#">删除</a></li>

                            </ul>
                        </li>
                    </ul>
                    <div class="row-fluid">
                        <div class="pull-right">
                            <div class="btn-group">
                                <button class="btn">赞</button>
                                <button class="btn">分支</button>
                            </div>
                        </div>
                    </div>
                    <article class="markdown-body">
                          <h1><a name="clash-of-clans" class="anchor" href="#clash-of-clans"><span class="mini-icon mini-icon-link"></span></a>Clash of Clans攻略（二）：进攻、奖杯与天梯~</h1>

                    <h2><a name="" class="anchor" href="#"><span class="mini-icon mini-icon-link"></span></a>引言</h2>

                    <p>防守可以单写一篇来介绍，本篇只谈进攻。进攻与奖杯，奖杯与天梯又密切关联，所以本篇将会一起介绍。</p>

                    <h2>
                    <a name="-1" class="anchor" href="#-1"><span class="mini-icon mini-icon-link"></span></a>进攻类建筑</h2>

                    <p>限制村庄发展速度的第一因素是时间，如果你不购买Builder（或者说Builder数量固定），那么第二因素——资源就是你最大的瓶颈。资源的最快获取方式是进攻掠夺。可以说，在所有建筑当中，进攻建筑决定你的发展速度。<br>
                    上一篇说过，进攻能力主要取决于你的进攻建筑水平，这是大背景。这个道理很自然，比如你的Camp上限总共只有100人口，就不可能有200人口的兵力。所以每次升本（Town Hall）之后，第一件事就是升级进攻类建筑。
                    进攻类建筑有4种：  </p>

                    <ol>
                    <li>兵工厂(Barracks)。兵工厂至少要有1个升到顶级的，这样才能造高级兵。<br>
                    </li>
                    <li>兵营(Army Camp)。兵营最好是全部升到顶级，保证兵力充足。<br>
                    </li>
                    <li>研究院(Laboratory)。研究院是花掉过剩的水的好方式，保证研究不要停顿，升级你最需要的兵种。<br>
                    </li>
                    <li>大招工厂(Spell Factory)。这货在初期意义不大，可以略过。<br>
                    </li>
                    </ol><h2>
                    <a name="-2" class="anchor" href="#-2"><span class="mini-icon mini-icon-link"></span></a>进攻目的</h2>

                    <p>首先需要清楚你的进攻目的，如果你什么都想得到，有可能什么都得不到。进攻一般有两种目的：抢资源或者升奖杯。  对于初期玩家来说，我建议优先抢资源，我说的初期玩家指的是五本和五本以下的玩家。初期如果优先升奖杯，你会发现你的奖杯到一个阶段就再也升不上去了，因为你的进攻建筑没有升级，进攻能力太有限了。前面说过了，资源是发展速度的主要瓶颈，优先抢资源，快速发展，升级建筑，你会发现升奖杯将是手到擒来的事情，甚至你会发现千杯以下都是浮云，我现在六本，千杯以内随意升降易如反掌。
                    那什么时候优先升奖杯呢？我建议是在五本后期或者六本初期。因为有个成就是跟奖杯有关的，后面在介绍进攻有关的成就时会详细说明。</p>

                    <h2>
                    <a name="-3" class="anchor" href="#-3"><span class="mini-icon mini-icon-link"></span></a>兵种</h2>

                    <p>相对于造建筑和研究，造兵消耗的时间和水都是比较少的，因为游戏设计鼓励进攻。造兵最重要的问题莫过于兵种搭配的比例，搭配因对手的建筑布局而异，没有一种万能的完美搭配，可以根据不断实战和自己的喜好来调优最适合自己的搭配。<br>
                    在初期值得注意的是前6种兵，后面的4种不用我介绍，等玩家过了初期之后自己就会理解。  </p>

                    <ol>
                    <li>黄毛(Barbarian，也叫野蛮人、原始人)。是一个各项属性比较平均，或者说平庸的兵种。是造得最快的兵种，而且跟哥布林一样是最便宜的兵种。适合在攻击时开路，用人海战术迅速铺开。另外由于造起来最快，有人甚至以100多人口纯黄毛连续进攻，因为如果你有连续的时间可以进攻多局，全部造黄毛所需的等待时间最短。<br>
                    </li>
                    <li>弓箭手。远程攻击，在对手建筑放在武器射程之外时，最适合用弓箭手打。弓箭手攻击可以越过围墙，所以在对手围墙等级很高，难以破口时，也很适合。弓箭手自身很脆弱，如果前面没有肉盾，最好不要单独出动。<br>
                    </li>
                    <li>哥布林(Goblin，也叫绿怪)。以最短路径优先攻击资源类建筑，打资源类建筑的攻击力是其他建筑的2倍，而且是移动速度最快的兵种。初期玩家往往以哥布林海席卷资源，快到MOTRAR炮都跟不上他们的脚步。哥布林自身也比较脆弱，所以建议也不要单独出动。<br>
                    </li>
                    <li>胖子(也叫巨人)。以最短路径优先攻击武器。血超厚，不信可以看看，甚至超过你的很多建筑。胖子是最佳肉盾，但是攻击力与黄毛相同，造价、时间、人口都大大多于黄毛。尤其是人口占用，如果胖子太多，会导致你的部队整体攻击输出很低。</li>
                    <li>炸弹人。以最短路径优先攻击城墙。很脆弱而且造价昂贵，需要炸城墙时，用两三个黄毛吸引一下炮火是个好主意。炸弹人是有溅射伤害的，所以面对紧挨的双层城墙，不用怕，并不需要2倍数量的炸弹人就能把城墙炸穿。<br>
                    </li>
                    <li>空投炸弹人(也叫气球）。以最短路径优先攻击武器。只怕防空塔、魔法塔和弓箭塔的攻击，所以在出动前最好先想办法解决掉这些塔，或者用胖子挡在前面吸收火力。我在实战中很少用到空投炸弹人，因为它们造价昂贵、生产时间太长。但是这个兵种在两个地方意想不到地好用：一是单人战役（没有时间限制），往往用空投炸弹人可以轻松过关；二是防守时放在城堡里，对于没有弓箭兵的对手是最好用的。<br>
                    </li>
                    </ol><p>我个人比较喜欢的搭配是20%黄毛，20%弓箭，50%哥布林，10%炸弹人。欢迎在回复中秀一下你的搭配。</p>

                    <h2>
                    <a name="-4" class="anchor" href="#-4"><span class="mini-icon mini-icon-link"></span></a>造兵</h2>

                    <ol>
                    <li>根据你的进攻目的选择你的主力兵种。例如目的是抢资源，那么哥布林最好是占到至少一半。<br>
                    </li>
                    <li>利用好攻击的间歇时间造兵。如果人口上限充足，实际上你不必等待人口满再去攻击。在你进攻的时候，人口会空出来，兵工厂会按你设定的队列生产。一局进攻是2分钟左右，可以生产不少兵了。<br>
                    </li>
                    <li>利用好人口满时兵工厂队列第一个位置。即使人口满时，兵工厂队列的第一个位置还是可以生产兵，只是生产完会显示Stopped，因为没有地方放。但是一旦你在攻击时空出人口，这个兵将会立即填充人口。所以第一个位置最好放单位时间很长的兵种，例如胖子、炸弹人。这么说可能难以理解，实际操作一遍就明白了。<br>
                    </li>
                    </ol><h2>
                    <a name="-5" class="anchor" href="#-5"><span class="mini-icon mini-icon-link"></span></a>选择对手</h2>

                    <p>在选择对手时，最重要的是观察。左上角会显示5个数值，对手的级别，有多少资源可以抢，打赢了加多少奖杯，输了减多少奖杯。一般高于自己10级以上的基本上就不用想了。<br>
                    你有30秒的时间来观察，根据对手的建筑布局决定是否进攻。首先需要关注的是MORTAR炮、魔法塔这些有溅射伤害的武器位置，是否构成威胁。然后看看资源（主要是金库）在哪里，如果有城墙，从哪个点突入最容易。最后看看细节，例如地图角落有没有什么建筑。<br>
                    在观察武器和城墙时，最好是能一眼从外观就能看出等级，每个武器在不同等级的外观都是不同的。在升级自己的武器时，最好留意这一点。为了方便大家识别，我找到一张图来说明：</p>

                    <pre><code>http://ww2.sinaimg.cn/large/a74ecc4cjw1e0sai1y08uj.jpg
                    </code></pre>

                    <p>在1月更新的这个版本之后，武器有了一些更新，X-BOW可以升级了，所以这张图可能还不是完整的武器数据。原图有4.6MB，非常清晰，上传到新浪图床之后只有1.4MB了，清晰度下降了一些，不过不影响观察。<br>
                    一旦你决定进攻，你将有3分钟的时间完成攻击，时间一般都是充足的。  </p>

                    <h2>
                    <a name="-6" class="anchor" href="#-6"><span class="mini-icon mini-icon-link"></span></a>进攻操作</h2>

                    <ol>
                    <li>利用兵种的特点决定放兵的先后顺序，以及间隔。是一下迅速部署全部兵力，还是细水长流？</li>
                    <li>精确选择点击放兵的位置。一般有3种明显的布局漏洞可以利用，第1种是靠着地图边缘裸奔的，可以直接放到边缘外面。第2种是用石头或者植物堵口子，可以直接穿进去。第3种城墙内有空隙的位置。对于第3种，可以故意把兵点在建筑上，就会自动显示所有建筑边缘的红色轨迹线，有助于发现这种空隙。</li>
                    <li>脆弱的兵种（例如弓箭手）最好是散开部署，避免一下子全灭。</li>
                    <li>按住不动可以最快速度连续出兵。<br>
                    </li>
                    <li>炸弹人最好是不要一个个出，很容易被一个个消灭。根据城墙等级计算需要的炸弹人数量，一次全部出动。</li>
                    <li>不同的建筑的血量差异是很大的，不要优先打血厚的建筑。</li>
                    <li>看城堡的外观无法判断里面是否有兵，如果想试探，可以丢一个兵在面前，看看有没有兵走出来。要么知难而退，避免不必要的牺牲；要么故意把兵点在离建筑较远的地方，城堡里的兵会不远千里地走过来的，与城堡里的兵在空地单挑，避免自己的兵受到对方兵和武器的夹击。</li>
                    </ol><p>还有更多操作欢迎大家补充。</p>

                    <h2>
                    <a name="-7" class="anchor" href="#-7"><span class="mini-icon mini-icon-link"></span></a>胜负判定</h2>

                    <p>胜利分为3个星级，左上角显示的是3星胜增加的奖杯数。</p>

                    <ul>
                    <li>一旦打掉Town Hall，或者打掉50%建筑，判为1星胜。</li>
                    <li>上面两者如果都达成，判为2星胜。</li>
                    <li>打掉100%建筑（不算城墙），判为3星胜。</li>
                    </ul><p>以抢资源为目的进攻时，不必首先想打掉Town Hall，这时候输赢没有什么意义。作为防守方时，这里还涉及到一个问题，就是开启保护盾，实际上开启保护盾的规则与胜负判定规则有细微的差异，我会在下一篇攻略——防守篇当中专门讲到。</p>

                    <h2>
                    <a name="-8" class="anchor" href="#-8"><span class="mini-icon mini-icon-link"></span></a>奖杯与天梯</h2>

                    <p>系统在分配对手时，并不是完全随机的，而是通过天梯系统分配。如果有人是星际争霸2玩家，可能知道什么是天梯和天梯积分。我简单介绍一下天梯，天梯系统的设计目的是给每个玩家分配水平接近的对手，水平的衡量数值就是天梯积分，在COC中也就是奖杯。如果你想匹配到高手，就要升奖杯；如果你不想家里的积蓄被高手掠夺一空，就要降奖杯。常见的一个误区是认为奖杯与等级有关，实际上奖杯与等级没有任何关系，奖杯加减只取决于每场战斗（进攻和防守）的胜负。所以在系统分配对手时，经常会看到等级太低或者等级太高的对手。同时也可以想到，奖杯是可以很容易自由操作的。想降低奖杯时，丢一个兵投降，很容易就降了。想升奖杯会稍难一点，尽量选软柿子捏，也可以升上去。<br>
                    睡觉时是被攻击的高峰期，而且自己不能及时补充城堡里的援兵和炸弹、弹簧。如果有资源想保护，建议在睡觉前把奖杯降低。在连续降奖杯时，有一个好用的操作，可以轻松在1分钟内降低100奖杯。方法是在左手点下一个兵的瞬间，右手立即点击NEXT，切换到下一个对手，照此循环。</p>

                    <h2>
                    <a name="-9" class="anchor" href="#-9"><span class="mini-icon mini-icon-link"></span></a>进攻有关的成就</h2>

                    <p>进攻最重要的成就是奖杯成就。当你打到1250奖杯时，可以奖励450个宝石，这时候连同你获得的其他宝石，足够造第3个Builder了。建议在五本尝试升一下奖杯，达成这个成就，这时候资源变成浮云了。
                    还有一些比较容易达成的进攻成就。</p>

                    <ul>
                    <li>摧毁N个Builder's Hut。观察对手，很多人喜欢把Builder丢在地图两角，这时候只要丢2个黄毛下去打就行了，很容易就能打上来。</li>
                    <li>摧毁N个Town Hall。有人为了保护资源，故意把Town Hall放在外面给人打，可以自动开启保护盾。找这种人打Town Hall就好了。</li>
                    <li>取得N场胜利。同上。</li>
                    <li>摧毁N个城墙。水多的就拿炸弹人去狂轰滥炸吧。</li>
                    <li>掠夺N点金币、N点水。吐槽一下这个成就的三星级要求是1亿。。。</li>
                    </ul><h2>
                    <a name="-10" class="anchor" href="#-10"><span class="mini-icon mini-icon-link"></span></a>复仇</h2>

                    <p>复仇(Revenge)是这个游戏中相当精妙的一个设计，被攻击之后，Replay按钮的下面就是复仇按钮。每次看完录像，很多玩家的复仇心理都很强烈，这时候很容易立即就去复仇。如果把复仇当作进攻的一个类型来看，需要以相同的目的去规划。因为复仇虽然满足了心理上的需求，但是有时候得不偿失，或者没有把收益最大化。</p>

                    <ol>
                    <li>复仇会关闭保护盾。有时候保护盾还是挺有用的，比如睡觉时。</li>
                    <li>复仇的对手可以当作银行来看，每次复仇前可以先visit一下，点开金库看看有多少存款。一旦存款差不多够了，立即复仇，就当是去银行取钱的，很容易赢得满盆满钵。所以有人来攻打我，我会很高兴，而不是愤怒，因为又多了一家银行可以取钱。今天就去一家银行取了21万~</li>
                    </ol><h2>
                    <a name="-11" class="anchor" href="#-11"><span class="mini-icon mini-icon-link"></span></a>单人战役</h2>

                    <p>单人战役是在游戏中比较次要的部分。COC设计单人战役，是为了让玩家可以练习进攻，熟悉兵种和操作。单人战役前50星的关卡都可以用空投炸弹人轻松解决。有人会问了，平时有空造兵都忙着实战打人了，谁会去打单人战役呢？有个绝佳的时候很适合打单人战役。如果你有充足的资源，开着保护盾，又不想破坏，这时候可以打单人战役，是不会关闭保护盾的。</p>
                    </article>
                </div>
            </div>
        </div>
{% endblock %}